.leaderboard-container{
    margin-top:60px;
    border:1px solid black;
    border-radius:var(--border-radius);
    text-align:left;
    padding:40px 0 80px;
    box-shadow:var(--box-shadow);
    text-justify: newspaper;
    background:rgba(255,255,255,1);
}
.leaderboard-row{
    width:100%;
}
.leaderboard-row p{
    width:200px;
    padding-left:20px;
}
.leaderboard-container a{
    background:rgba(255,255,255,1);
}
.leaderboard-container a:nth-child(even){
    background:rgba(200,200,200,1);
}
.leaderboard-options{
    padding:10px 0;
}