.navbar-modal-container{
    position: fixed;
    top:50px;
    left:70%;
    max-width:600px;
    right:20px;
    background-color: white;
    box-shadow:0px 0px 5px rgba(0,0,0,.3);
    border:1px black solid;
    overflow:auto;
}
.navbar-modal-container h1{
    margin:0;
    cursor:pointer;
}
.new-message-button{
    position: relative;
    right:0;
}
.navbar-modal-content,.account-row{
    width:100%;
    box-sizing: border-box;
}
.modal-link, .navbar-modal-container .link{
    padding:15px 0;
    margin:5px 0;
    justify-content: flex-start;
    align-items: center;
}
.modal-link .link{
    width:100%;
}
.navbar .navbar-modal-user-profile{
    padding:5px 20px;
    box-sizing: border-box;
}
