.navbar{
    position:fixed;
    width:100%;
    background:var(--primary-off-color);
    height:50px;
    align-items: center;
    flex:1;
    justify-self: flex-start;
    z-index:3;
}
.navbar .link:hover,.navbar a:hover,.navbar .active{
    background:rgba(180,180,180,0.4);
    border-radius:5px;

}
.navbar span, .navbar svg, .navbar .MuiAvatar-root{
    cursor: pointer;
}
.navbar span:hover, .navbar svg:hover, .navbar .MuiAvatar-root:hover,.navbar .active, .navbar .active svg{
    opacity:1;
}
.nav-middle{
    position: relative;
    position: relative;
    left:80px;
}
.nav-right{
    margin-left:auto;
    align-items:center;
}
.nav-left{
    margin-right:auto;
}
.navbar .MuiAvatar-root, .navbar svg{
    margin:auto 12px;
}
/* .nav-right .MuiAvatar-root{
    padding:10px;
} */
.navbar .nav-middle svg, .navbar .nav-right svg{
    height:54px;
}