/* 
#44479E
#A1A4FF
#7C80EB
#9E8934
#EBD57C
 */

html{
    --background-color:#fff;
    --primary-off-color:#5B5DAB;
    --primary-color:#7C80EB;
    --secondary-color:#EBD57C;
    --alt-color:#76BEF6;
    --link-color:#EBD57C;
    --link-hover-color:#fff;
    --primary-shade:#5B5DAB;
    --primary-black:#393A6B;
    --secondary-shade:#AB9B5B;
    --secondary-black:#6B6139;

    --border-radius:4px;
    --border-radius-wide:16px;

    --box-shadow:0px 0px 20px rgba(120,120,120,.8);
}
body{
    background-color:var(--primary-black);
}
a,.link{
    color:var(--secondary-shade);
    transition: all 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    opacity:0.8;
}
a:hover,.link:hover,a.active,.link.active{
    color:var(--secondary-color);
}
.MuiFab-primary,.MuiButton-containedPrimary,button{
    color:white!important;
    background-color:var(--primary-color)!important;
}
.PrivateTabIndicator-colorSecondary-3{
    background:var(--primary-black)!important;
}
.MuiFab-primary:hover,.MuiButton-containedPrimary:hover,button:hover{
    background-color:var(--primary-shade)!important;
}
.MuiFab-secondary,.MuiButton-containedSecondary{
    background-color:var(--secondary-color)!important;
}
.MuiFab-secondary:hover,.MuiButton-containedSecondary:hover{
    background-color:var(--secondary-shade)!important;
}
.container a,.container .link,.open-container a,.open-container .link{
    color:black;
}
.container a:hover,.container .link:hover,.open-container a:hover,.open-container .link:hover, .container .link.active, .open-container .link.active{
    color:var(--alt-color);
}

.flex{
    display: sticky;
    justify-content: center;
}
.row{
    display:flex;
    justify-content: center;
}
.space-around{
    justify-content: space-around;
    width:100%;
}
.wrap{
    flex-wrap: wrap;
}
.wide{width:100%}
.col{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.container{
    min-height:400px;
    background:white;
}
.login-container{
    padding:60px 0;
}
.sign-up-form input{
    width:250px;
}

.main-button-hover{
    padding:50px;
}
.main-button{
    padding:120px 0 60px;
    position: relative;
}
.main-button .hover-button{
    position: absolute;
    /* bottom:60px; */
}
/* .main-button .hover-button.disabled{
    pointer-events: none;
} */
.content-post,.reply-wrapper{
    width:40em;
}
.content-post{
    background:white;
    padding:3em 3em 6em;
    border:1px solid black;
    margin-bottom:3em;
    box-shadow:var(--box-shadow);
    border-radius:var(--border-radius);
}
.content-post p{
    padding:10px 5px;
    word-wrap: break-word;
}
.main-container{
    padding:40px 0 120px;
}
.post-container{
    box-sizing: border-box;
    border:1px solid black;
    width:100%;
    padding:40px 40px 80px;
    margin-bottom: 20px;
}
.content-post{
    position: relative;
}
.content-post .hide-post-button{
    position: absolute;
    left:0;
    top:0;
}
.content-post .delete-post-button{
    position: absolute;
    right:0;
    top:0;
}
.content-post .MuiFab-root{
    width:36px!important;
    height:36px!important;
}
.post-container img{
    max-width:100%;
    max-height:500px;
}
.post-edit{
    width:100%;
    position: relative;
    top:-20px;
    margin-bottom:-20px;
    cursor: pointer;
}
.post-credit{
    width:100%;
    text-align:right;
    padding-right:40px!important;
    margin-top:-10px;
}
.post-credit p{margin:0;}
.post-comments{width:100%;}
.hide-comment-button{
    position: absolute;
    left:20px;
    top:20px;
    font-size:0.75em;
    z-index:2;
}
.hide-comment-wrapper{
    margin:0 0 30px;
    height:5px;
}
.comment-author{
    position: absolute;
    top:20px;
}
.comment-container{
    box-sizing: border-box;
    width:100%;
    margin-right: auto;
    padding-left:40px;
    position: relative;
}
.comment-options{
    font-size:0.75em;
}
.post-like-count{
    font-size:1.5em;
    padding:.25em;
    background:rgba(0,0,0,0);
    width:100%;
}
.post-like-count span,.comment-like-count{
    cursor: pointer;
}
.reply-container{
    margin:20px 0;
    font-size:14px;
}
.reply-content{
    width:100%;
}
.reply-content>*{
    width:50%;
    height:160px;
    cursor: pointer;
}
.reply-content>div{
    cursor: default;
}
.post-title-input{
    width:48%;
    margin-bottom:10px;
    margin-right: auto;
}
.reply-buttons button{
    margin:5px 20px;
}
.reply-preview{
    position: relative;
    margin-left:20px;
}
.preview-contents{
    overflow-y: auto;
    height:100%;
    font-size:0.8em;
    margin-top:-10px;
}
.preview-title{
    position: absolute;
    top:-40px;
}

.carousel-container{
    position: relative;
    font-size:4.5em;
    letter-spacing: 5px;
    width: 256px;
    height: 256px;
}
.carousel-container img{
    position: absolute;
    height:100%;
    width:100%;
    transition: 0.3s all ease;
    opacity: 0;
}
.carousel-container .active{
    opacity: 1;
}
.carousel-buttons{
    width:100%;
}
.carousel-dots{
    position: relative;
    top:60%;
}
.carousel-button{
    position: absolute;
    top:48%;
}
.carousel-button:first-child{left:0;}
.carousel-button:last-child{right:0;}
.modal{
    position: fixed;
    left:30%!important;
    right:30%!important;
    top:25%!important;
    bottom:25%!important;
}
.modal div:focus{
    outline:none;
}
.modal div:first-child{
    z-index:2!important;
    cursor: pointer;
}
.modal-inner{
    background:white;
    min-height:400px;
    min-width:400px;
    position: relative;
    z-index:3;
    overflow: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.modal-content{
    padding:20px 40px;
}