.flex{
    display: sticky;
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
}
.col{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.content-post{
    padding:1em 2em;
    border:1px solid black;
    width:20em;
}
.navbar{
    position:fixed;
    width:100%;
    background:#296;
    height:40px;
}
.main-container{
    padding:40px 0 120px;
}